div.modal-content {
    border-radius: 12px;
    letter-spacing: 0.2rem;
}

div.modal-header {
    color: #fff;
    font-size: 1.5rem !important;
    background-color: var(--blue-primary);
    text-shadow: 5px 4px 6px rgba(0,0,0,0.67);
    letter-spacing: 0.3em;
    line-height: 1.5;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

div.error-modal-header {
    background-color: var(--red-primary);
}

@media (max-width: 480px) {
    div.modal-header {
        font-size: 1.3rem;
    }
}

@media (max-width: 3760px) {
    div.modal-header {
        font-size: 1.1rem;
    }
}