:root {
    --red-primary: #ff3c28;
    --red-secondary: #b8000f;
    --blue-primary: #0bb9e6;
    --blue-secondary: #4656e6;
    --blue-tertiary: #18419b;
    --luigi-green: #019001;
    --tropical-green: #88f8b0;
    --cyber-purple: #b400f5;
    --royal-purple: #5d2e8e;
    --cyber-orange: #faa006;
    --lime: #1ddc00;
    --pink: #ff3278;
    --warning: #e5ff00;
    --dark: #464646;
    --light: #828282;
}

body {
    font-family: 'Chakra Petch', sans-serif;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 0.2rem;
}

h2 {
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 0.1rem;
}

h3 {
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 0.1rem;
}

h4 {
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 0.1rem;
}

textarea {
    resize: none;
}

a.dropdown-item:focus {
    background-color: var(--light);
}

a:hover {
    text-decoration: none;
}

div.card {
    box-shadow: 1px 2px 22px 4px var(--dark);
}

.main-container {
    margin-top: 4.5rem;
    min-height: 100vh;
}

.japanese {
    font-family: 'Kosugi Maru', sans-serif;
}