button.ui.red.mini.back-btn {
    font-family: 'Chakra Petch', sans-serif;
    color: #fff;
    background-color: var(--red-primary);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    letter-spacing: 0.1rem;
    transition: all 0.6s;
}

button.ui.red.mini.back-btn:hover {
    transform: scale(0.97, 0.97);
    /* background-color: var(--red-secondary); */
}