div.delete-header {
    color: #fff;
    font-size: 1.5rem !important;
    background-color: var(--red-secondary);
    text-shadow: 5px 4px 6px rgba(0,0,0,0.67);
    letter-spacing: 0.3em;
    line-height: 1.5;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

div.no-delete-header {
    color: #fff;
    font-size: 1.5rem !important;
    background-color: var(--royal-purple);
    text-shadow: 5px 4px 6px rgba(0,0,0,0.67);
    letter-spacing: 0.3em;
    line-height: 1.5;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.p-text {
    font-size: 1rem !important;
}

button.btn.back-btn {
    border-radius: 20px;
    border: none;
    background-color: var(--blue-secondary);
    transition: all 0.3s;
}

button.btn.delete-confirm-btn {
    border-radius: 20px;
    border: none;
    background-color: var(--red-primary);
    transition: all 0.3s;
}

button.btn.back-btn:hover {
    background-color: var(--blue-tertiary);
}

button.btn.delete-confirm-btn:hover {
    background-color: var(--red-secondary);
}

@media (max-width: 480px) {
    div.delete-header {
        font-size: 1.3rem;
    }
}

@media (max-width: 3760px) {
    div.delete-header {
        font-size: 1.1rem;
    }
}