button.ui.teal.mini.edit-btn {
    font-family: 'Chakra Petch', sans-serif;
    color: #fff;
    background-color: var(--blue-tertiary);
    border-radius: 20px;
    letter-spacing: 0.1rem;
    transition: all 0.6s;
}

button.ui.teal.mini.edit-btn:hover {
    transform: scale(0.97, 0.97);
    /* background-color: var(--red-secondary); */
}