div#forum-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    opacity: 0.9;
}

h3#users-title {
    font-size: 2rem;
}

h3#users-title-top {
    font-size: 1.8rem;
}

button.btn.btn-info {
    background-color: var(--blue-primary);
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.6s;
}
button.btn.btn-info:hover {
    background-color: var(--pink);
    /* background-color: #0a9cc0; */
    /* transform: scale(1.03, 1.03); */
}

@media (max-width: 1200px) {
    h3#users-title {
        font-size: 1.8rem;
    }
}