.home-card-row {
    height: 630px;
    display: flex;
    /* flex-wrap: wrap;
    justify-content: center; */
    overflow-x: auto;
}

.home-card-row .card.game-card {
    min-width: 250px !important;
}

div#home-title {
    background-color: var(--blue-secondary);
    opacity: 0.9;
}

.home-header {
    color: #fff;
    text-shadow: 4px 3px 5px rgba(0,0,0,0.67);
    letter-spacing: 0.3em;
    line-height: 1.5;
    opacity: 1 !important;
}

h3.home-header {
    font-size: 1rem;
    line-height: 1.8;
}