div.carousel {
    margin-top: 0 !important;
    opacity: 0.95;
}

h1.carousel-header {
    font-size: 2rem;
    text-shadow: 6px 5px 8px rgba(0,0,0,0.67);
    /* font-size: 2.5rem; */
}

h2.carousel-header {
    font-size: 1.8rem;
    text-shadow: 6px 5px 8px rgba(0,0,0,0.67);
    /* font-size: 2.5rem; */
}

.carousel-header {
    text-shadow: 6px 5px 8px rgba(0,0,0,0.67);
    line-height: 1.6;
    letter-spacing: 0.3rem;
    font-weight: 500;
    font-size: 1.6rem;
    /* font-size: 2.5rem; */
}

.carousel-subheader {
    text-shadow: 6px 5px 8px rgba(0,0,0,0.67);
    letter-spacing: 0.2em;
    font-size: 1.5rem;
    /* font-size: 2.5rem; */
}

@media (max-width: 1050px) {
    .carousel-subheader {
        font-size: 1.3rem;
    }
}

@media (max-width: 769px) {
    .carousel-subheader {
        font-size: 1.1rem;
    }
}

/* .carousel img.d-block.w-100 {
    object-fit: contain;
    max-height: 600px;
    max-width: none;
} */