div.jumbotron.jumbotron-fluid {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 600px;
    opacity: 0.95;
}

h1.jumbo-header.text-white {
    text-shadow: 4px 3px 5px rgba(0,0,0,0.67);
    letter-spacing: 0.3em;
    font-weight: 500;
    font-size: 2.5rem;
}

@media (max-width: 1050px) {
    h1.jumbo-header.text-white {
        font-size: 2rem;
        position: relative;
        top: 100px;
        transition: all 0.2s;
    }
}

@media (max-width: 769px) {
    h1.jumbo-header.text-white {
        top: 400px;
        font-size: 1.8rem;
        transition: all 0.2s;
    }
}

@media (max-width: 481px) {
    h1.jumbo-header.text-white {
        top: 450px;
        font-size: 1.7rem;
        transition: all 0.2s;
    }
}

@media (max-width: 356px) {
    h1.jumbo-header.text-white {
        top: 465px;
        font-size: 1.5rem;
        transition: all 0.2s;
    }
}