.japanese {
    font-family: 'Kosugi Maru', sans-serif;
}

.scrolled {
    opacity: 0.9;
}

#nav-brand {
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
    font-weight: 500 !important;
    font-family: 'Chakra Petch', sans-serif;
    margin-right: 20px;
}

a.nav-link {
    font-size: 1.3rem;
    margin-right: 15px;
    letter-spacing: 0.2rem;
    color: #fff !important;
    transition: all 0.3s;
}

a.nav-link:hover {
    color: var(--light) !important;
}

a.nav-link.active {
    color: blue !important;
}

a.dropdown-item {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
}

a.active.dropdown-item {
    color: #000;
    background-color: #d1d1d1;
}

.nintendo-red {
    background-color: #e60012;
}