.japanese {
    font-family: 'Kosugi Maru', sans-serif;
}

.scrolled {
    opacity: 0.9;
}

#nav-brand {
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
    font-weight: 500 !important;
    font-family: 'Chakra Petch', sans-serif;
    margin-right: 20px;
}

a.nav-link {
    font-size: 1.3rem;
    margin-right: 15px;
    letter-spacing: 0.2rem;
    color: #fff !important;
    transition: all 0.3s;
}

a.nav-link:hover {
    color: #e1e1e1 !important;
}

a.nav-link.active {
    /* color: var(--light) !important; */
    transform: scale(1.1, 1.1);
    text-shadow: 1px 4px 10px rgba(0,0,0,0.71);
}

a.dropdown-item {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
}

a.active.dropdown-item {
    color: #000;
    background-color: #d1d1d1;
}