div.new-forum-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    opacity: 0.9;
}

#new-forum-card {
    margin-top: 80px;
}

button#create-new-forum-btn {
    background-color: var(--cyber-purple);
    border: none;
    transition: all 0.5s;
}

button#create-new-forum-btn:hover {
    background-color: var(--cyber-orange);
}

h1#new-forum-header {
    font-size: 2.2rem;
}

@media (max-width: 1025px) {
    h1#new-forum-header {
        font-size: 1.8rem;
    }
}

@media (max-width: 769px) {
    h1#new-forum-header {
        font-size: 1.6rem;
        line-height: 1.5;
    }
}

@media (max-width: 481px) {
    h1#new-forum-header {
        font-size: 1.4rem;
    }
}
/* 
@media (max-width: 380px) {
    h1#new-forum-header {
        font-size: 1.3rem;
    }
} */