.iframe-sizing {
    width: 600px;
    height: auto;
}

img.post-img {
    max-width: 600px;
    height: auto;
}

.iframe {
    border-radius: 4px;
}

div.post-title h4 {
    color: var(--dark);
    font-size: 1.3rem;
    font-weight: 500 !important;
    line-height: 1.8;
    cursor: pointer;
    transition: all 0.3s;
}

div.post-title:hover > h4 {
    color: var(--light);
}

div.post-title:hover > h4 .badge.badge-pill {
    color: var(--dark);
}

div.post-title:hover > h4 .badge.badge-pill {
    color: var(--dark);
}

p {
    line-height: 1.8;
    font-weight: 300;
    font-size: 1.1rem;
}

p.comment-link {
    color: var(--blue-secondary);
    cursor: pointer;
    transition: all 0.3s;
}

p.comment-link:hover {
    color: var(--red-secondary);
}

@media (max-width: 1200px) {
    .iframe-sizing {
        width: 440px;
    }
    img.post-img {
        max-width: 440px;
    }
    img.thumbnail-img.mr-md-3.mr-lg-4.d-none.d-md-block {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 1050px) {
    .iframe-sizing {
        width: 400px;
    }
    img.post-img {
        max-width: 400px;
    }
    img.thumbnail-img.mr-md-3.mr-lg-4.d-none.d-md-block {
        width: 45px;
        height: 45px;
    }
    div.user-icon {
        font-size: 1rem;
    }
    div.post-title h4 {
        font-size: 1.2rem;
    }
    p {
        font-size: 1rem;
    }
}

@media (max-width: 994px) {
    .iframe-sizing {
        width: 350px;
    }
    img.post-img {
        max-width: 350px;
    }
    img.thumbnail-img.mr-md-3.mr-lg-4.d-none.d-md-block {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 969px) {
    .iframe-sizing {
        width: 345px;
    }
    img.post-img {
        max-width: 345px;
    }
    div.post-title h4 {
        font-size: 1rem;
    }
    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 920px) {
    .iframe-sizing {
        width: 340px;
    }
    img.post-img {
        max-width: 340px;
    }
    img.thumbnail-img.mr-md-3.mr-lg-4.d-none.d-md-block {
        width: 36px;
        height: 36px;
    }
   
}

@media (max-width: 769px) {
    .iframe-sizing {
        width: 320px;
    }
    img.post-img {
        max-width: 320px;
    }
    img.thumbnail-img.mr-md-3.mr-lg-4.d-none.d-md-block {
        width: 34px;
        height: 34px;
    }
    div.user-icon {
        font-size: 0.9rem;
    }
    p {
        font-size: 0.8rem;
    }
}

@media (max-width: 481px) {
    .iframe-sizing {
        width: 300px;
    }
    img.post-img {
        max-width: 300px;
    }
    h4.post-title {
        font-size: 1rem;
    }
    p {
        font-size: 0.6rem;
    }
}

@media (max-width: 396px) {
    .iframe-sizing {
        width: 260px;
    }
    img.post-img {
        max-width: 260px;
    }
    div.post-title h4 {
        font-size: 0.9rem;
    }
}

@media (max-width: 340px) {
    .iframe-sizing {
        width: 220px;
    }
    img.post-img {
        max-width: 220px;
    }
    div.post-title h4 {
        font-size: 0.8rem;
    }
}