.top-user-span {
    color: var(--blue-secondary);
}

.top-user-span:hover {
    color: var(--pink);
}

.user-li {
    font-size: 1.1rem;
}

.avatar-icon-top {
    width: 25px;
    height: 25px;
}

#users-title-top {
    font-size: 1.6rem;
}

#users-title-top.no-post-header {
    font-size: 1.2rem;
}

@media (max-width: 480px) {
    .user-li {
        font-size: 1rem;
    }
    .avatar-icon-top {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 326px) {
    .user-li {
        font-size: 0.8rem;
    }
    .avatar-icon-top {
        width: 0;
        height: 0;
    }
}